:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.centerElement {
  position: absolute; /* Position relative to the viewport */
  top: 50%; /* Move to the vertical center */
  left: 50%; /* Move to the horizontal center */
  transform: translate(-50%, -50%); /* Adjust for the element's size */
  cursor: pointer; /* Pointer cursor on hover */
  z-index:7;
}

#appcontainer {
	position: relative !important; /* Establish positioning context */
	width: 100wv;
	height: 100vh;
	margin: 0px !important;
	padding: 0px !important;
	overflow: hidden !important; /* Prevent content overflow */
	box-sizing: border-box !important;
	z-index: 1 !important;
}

.modal-open {
	width:40wv !important;
	height:20vh !important;
	display:block !important;
}

.modal-close > * {
	width:100% !important;
	height:100% !important;
	display:none !important;
}


.modal-close {
	width:0wv !important;
	height:0vh !important;
	display:none !important;
}

.modal-close > * {
	width:0wv !important;
	height:0vh !important;
	display:none !important;
}



.map-obj {
	position: absolute !important;
	box-sizing: border-box !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 100wv;
	height: 100vh;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	z-index: 2 !important;
	box-sizing: border-box !important;
}

.map-canvas-container {
	position: absolute !important;
	box-sizing: border-box !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 100wv;
	height: 100vh;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	z-index: 3 !important;
	box-sizing: border-box !important;
}

.map-canvas {
	position: absolute !important;
	box-sizing: border-box !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 100wv;
	height: 100vh;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	z-index: 9 !important;
}

.map-marker {
	position: absolute !important;
	margin: 0px !important;
	padding: 0px !important;
	box-sizing: border-box !important;
	left: 0 !important;
	top: 0 !important;
	z-index: 10 !important;
}

.hidden {
	display: none;
}
